*,
::after,
::before {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  background: #eee;
  line-height: 1.3;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 959px;
  margin: 0 auto;
}

.all-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(69px, auto) minmax(47px, auto) minmax(408px, auto) minmax(42px, auto) minmax(733px, auto) minmax(298px, auto) minmax(48px, auto);
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(7, minmax(auto, 137px)) 1fr;
}